@supports (-webkit-appearance: -apple-pay-button) { 
  .apple-pay-button-with-text {
      display: inline-block;
      cursor: pointer;
      -webkit-appearance: -apple-pay-button;
      -apple-pay-button-type: buy;
      display: flex;
      margin: 0 auto;
      width: 300px;
  }
  .apple-pay-button-black {
      -apple-pay-button-style: black;
  }
  .apple-pay-button-white {
      -apple-pay-button-style: white;
  }
  .apple-pay-button-white-with-line {
      -apple-pay-button-style: white-outline;
  }
}

h1 {
    text-align: center;
}

.error-div {
    text-align: center;
}